aiofiles==24.1.0
aiogram==3.20.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.6
aiosignal==1.3.2
alabaster==1.0.0
annotated-types==0.7.0
argcomplete==3.5.3
attrs==24.1.0
autocommand==2.2.2
babel==2.17.0
beautifulsoup4==4.13.3
blinker==1.8.2
btrfsutil==6.14
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
clingo==5.7.1
contourpy==1.3.2
cryptography==45.0.3
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.4.0
distro==1.9.0
docopt==0.6.2
docutils==0.21.2
filelock==3.18.0
Flask==3.1.1
flask-unsign==1.2.1
fonttools==4.58.1
frozenlist==1.6.1
idna==3.10
imagesize==1.4.1
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
joblib==1.4.2
jupyter_core==5.8.1
keyutils==0.6
kiwisolver==1.4.6
libtorrent==2.0.11
lit==20.1.0.dev0
lxml==5.4.0
magic-filter==1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
mercurial==7.0.2
meson==1.8.1
more-itertools==10.7.0
multidict==6.4.4
mutagen==1.47.0
myst-parser==4.0.1
numpy==2.2.6
packaging==25.0
perf==0.1
pillow==11.2.1
pipx==1.7.1
platformdirs==4.3.6
pooch==1.8.2
propcache==0.3.1
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pydantic==2.11.5
pydantic_core==2.33.2
pydot==3.0.1
Pygments==2.19.1
PyGObject==3.52.3
pyparsing==3.2.3
python-dateutil==2.9.0
pytz==2025.2
pywal==3.3.0
PyYAML==6.0.2
requests==2.32.3
roman-numerals-py==3.1.0
scikit-learn==1.6.1
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
snowballstemmer==2.2.0
soupsieve==2.6
speedtest-cli==2.1.3
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
TBB==0.2
threadpoolctl==3.5.0
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.13.2
udiskie==2.5.7
unicodedata2==16.0.0
urllib3==2.4.0
userpath==1.9.2
Werkzeug==3.1.3
wheel==0.45.1
yarl==1.20.0
yt-dlp==2025.5.22
